-inherit base.slim
-block title
    | The Bollocks Index
-block content
    - for bollocks in reversed(bollockses)
        .w1of1.bollocks.clearfix
            a href=uri_for('view_bollocks', bollocks_id=bollocks._id)
                .w1of2.col-left
                    h2.h They say
                    .inner
                        | ${bollocks.he_said}
                .w1of2.col-right
                    h2.h It means
                    .inner
                        | ${bollocks.it_means}
