-inherit base.slim
-block title
    | bollocksindex - add bollocks
-block content
    .w1of1.clearfix
        .w1of2.col-left
            h2.h They say
            .inner
                | ${bollocks.he_said}
            h2.h It means
            .inner
                | ${bollocks.it_means}
        .w1of2.col-right
            h2.h You say
            .inner
                .fb-comments data-href=current_url data-width="470" data-num-posts="10"
